<!DOCTYPE html>

<html>
  <head>
    <title>{{script.title}} - webscripts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>

  </head>







  <body>
  <!--TopBar -->
       <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
            <div class="navbar-inner-content">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-chevron-down icon"></span>
                </button>
                <a class="brand" href="/">webscripts</a>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /navbar-inner-content-->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
<!-- /TopBar -->

<div id="holder">

  <div class="container">

    
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="active">/</span></li>

      {% if script.input %}
            <li><a href="/">{{script.overview.title}}</a> <span class="active">/</span></li>
      {% endif %}

      <li class="active">{{script.title}}</li>
    </ul>



      <div class="well well-large">

            <div class='card'>
            
               <div class='script_big_img'>
                  <img src="/static/images/{{script.image}}" width='150px'>

               </div>

               <div class='card_information_holder'>
                  <h2>
                      {{script.title}}
                  </h2>
               
                  <div class='description'>
                      {{script.description}}
                  </div>
               </div>
             </div>
      </div>

      <div class="well well-large">
          <h5>Input:</h5>

          {% if script.input %}
              {{script.input.label}}:  <input id='input' type="text">
          {% endif %}



          {% if script.file_input %}

          <div id="dropbox">
            <span class="message">Drop files here to convert. <br /></span>
          </div>

          {% else %}
              <input id='submit_button' class="btn btn-large btn-primary" onclick="submit()" type="submit" value="Submit">
          {% endif %}


          <div id="inbox">
          </div>
      </div>


      <div class="well well-large">
          <h5>Output:</h5>
          <div id='loading'>
                <img id='loading_pic' src="/static/images/loading.gif">
          </div>
          <div id="output">
          </div>
      </div>


</div> <!--Container -->

<!-- start: footer -->
<div class="navbar navbar-fixed-bottom" id='footer'>

<div class="grid">
  <div class="col-1-2">
          <h5>webscripts is an open source </br>project backed by</h5>

        <p class="logo"><a href="http://www.tonkworks.com" target="_blank"><img src="/static/images/tonkworks-light.png" alt="tonkworks" /></a></p>

  </div>
  <div class="col-1-2">
          <h5>based on these open </br>source technologies</h5>


          <p class="col-1-2"><a href="https://www.djangoproject.com/" target="_blank"><img src="/static/images/logo_django_white.png" /></a></p>

          <p class="col-1-2"><a href="http://python.org/" target="_blank"><img src="/static/images/logo_python_white.png" /></a></p>

  </div>
</div>


<div class="grid">
  <div class="col-1-2-mid">
      <p class="col-1-2"><a href="https://www.facebook.com/tonkworks" target="_blank"><img src="/static/images/fb.png"/></a></p>

      <p class="col-1-2"><a href="https://github.com/Kevdragon6/scripts" target="_blank"><img src="/static/images/github.png"/></a></p>
  </div>

</div>

</footer>
<!-- end: footer -->


</div> <!-- holder -->



    <!-- The file drop -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>


    <!-- The file drop -->
    <script src="/static/js/jquery.json-2.3.js" type="text/javascript"></script>
    <script src="/static/js/jquery.filedrop.js" type="text/javascript"></script>
    <script src="/static/js/drop_files_custom.js" type="text/javascript"></script>



    <script>
      var script_name='{{script.title}}';
      runDropBoxSetup("None");


function submit(){
  $("#submit_button").prop('disabled', true);
  $("#loading").show();
  $("#output").html("");
  var url = '/command?script_name=' + script_name;
  
  if ($("#input").val()){
    url += "&input_parameters=" + $("#input").val();
  }
  $.ajax({
      url: url,
      type: 'GET',
      success: function(data){ 
        var parsed = $.parseJSON(data);
        write_output(parsed);
        $("#loading").hide();
        $("#submit_button").prop('disabled', false);

    },
      error: function(data) {
          $("#loading").hide();
      }
  });
}

function write_output(response){
      console.log(response.output);

      for (i in response.output){
          console.log(response.output[i]);
        $("#output").append(response.output[i] + "</br>");
      }
      //Get File Back
        var url = "/bin/" + response.operation_uuid +"/";
      //var win=window.open(url, '_blank');
        //win.focus();

    if (response.number_of_files >= 1){
      $("#output").append("</br><a href='" + url + "'>" + url + "</a></br>")
      $('<iframe class="iframe" src="' + url + '" frameborder="1" class="output-frame"></iframe>').appendTo('#output');


      $('.iframe').on('show', function () {
          $(this).find('.modal-body').css({width:'auto',
                                     height:'auto', 
                                    'max-height':'100%'});
      });

    }
}
    

    </script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33902626-1']);
  _gaq.push(['_setDomainName', 'tonkworks.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
